.c-logo {
    position: relative;

    &__text {
        display: block;
        margin: 0 auto;
        width: 192px;
        height: 64px;
    }

    &__image {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        svg {
            display: block;
            margin: 0 auto;
            width: 34px;
            height: 34px;
        }
    }
}
